*.o
*.o.d
*/res/*.xml
*.avi
*.jar
*.class
*.apk
*.dex
*.ntwk
*.ap_
*.setup
*app_process
*gdbserver
*.properties
*.classpath
*.cproject
*.project
*.settings/
*.pdf
*.zip
*.so
*.png
*.jpg
*.swp
HoloPanelAndroid/bin
HoloPanelAndroid/gen
